@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.quiksand {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

.nunito {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.josefine {
    font-family: 'Quicksand', sans-serif;  
    font-size: 50px;
}

.nunit {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.nunitos {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}